* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: letraCatar;
  src: url(../Qatar2022-Medium.otf);
  font-family: letraTituloCatar;
  src: url(../Qatar2022-Bold.otf);
}
@font-face {
  font-family: letraCatari;
  src: url(../Qatar2022-Heavy.otf);
}
.color-text {
  color: white;
}
body {
  background-color: #8d1c3d;
  color: white;
  position: relative;
  padding-bottom: 60px;
}

a {
  font-family: letraTituloCatar;
}
h1 {
  font-family: letraTituloCatar;
}

p {
  font-family: letraTituloCatar;
}

h2 {
  font-family: letraCatari;
}

h3 {
  font-family: letraTituloCatar;
}
/* Parte Principal */
#partePrincipal {
  min-height: 70vh;
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.705),
      rgba(53, 55, 59, 0.616)
    ),
    url(../images/argentina-con-copa.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.qatar2022 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

/* PARTIDOS */
.titulo-part-arg {
  margin-top: 15px;
}

/* Footer */
footer {
  background-color: #eeeee4;
  color: #8d1c3d;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.link-pagina {
  color: black;
  text-decoration: none;
}
.link-pagina:hover {
  color: rgb(230, 63, 63);
}

@media (max-width: 1023px) {
  .img-celu {
    width: 358px;
    height: 358px;
    margin-top: 10px;
  }
}
/* Vista desktop */

@media (min-width: 1024px) {
  /* navbar */
  .navegacion {
    padding-right: 90px;
  }

  /* Partidos */
  .video {
    width: 560px;
    height: 315px;
    margin: 0 auto;
  }
  /* mejores jugadores */
  .carrusel-jugadores {
    display: flex;
    width: 600px;
    height: 430px;
    margin: auto;
  }
  .carrusel-jugadores img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.4s ease;
  }

  .carrusel-jugadores img:hover {
    width: 220px;
    opacity: 1;
    filter: contrast(120%);
  }
  /* Footer */
  .creditos-footer {
    font-size: 20px;
  }
}
