* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: letraCatar;
  src: url(../Qatar2022-Medium.otf);
  font-family: letraTituloCatar;
  src: url(../Qatar2022-Bold.otf);
}
@font-face {
  font-family: letraCatari;
  src: url(../Qatar2022-Heavy.otf);
}
.color-text {
  color: white;
}
body {
  background-color: #8d1c3d;
  color: white;
}

a {
  font-family: letraTituloCatar;
}
h1 {
  font-family: letraTituloCatar;
}

p {
  font-family: letraTituloCatar;
}

h2 {
  font-family: letraCatari;
}
/* Parte Principal */
#partePrincipal {
  min-height: 70vh;
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.705),
      rgba(53, 55, 59, 0.616)
    ),
    url(../images/argentina-con-copa.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.qatar2022 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

/* PARTIDOS */

.texto-partidos {
  padding-top: 15px;
}

.final {
  color: gold;
  font-size: 22px;
}

.video-partido {
  width: 100%;
  height: 220px;
}

/* Footer */
footer {
  background-color: #eeeee4;
  color: #8d1c3d;
}

.link-pagina {
  color: darkmagenta;
  text-decoration: none;
}
.link-pagina:hover {
  color: black;
}

/* animacion texto */

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.animated {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* vista */

@media (min-width: 500px) {
  /* Partidos */

  .video-partido {
    width: 400px;
    height: 300px;
  }
}

@media (min-width: 650px) {
  .video-partido {
    width: 560px;
    height: 315px;
  }
}
/* Vista desktop */

@media (min-width: 1024px) {
  /* navbar */
  .navegacion {
    padding-right: 110px;
  }

  /* Partidos */

  .video-partido {
    width: 700px;
    height: 365px;
  }

  /* mejores jugadores */
  .carrusel-jugadores {
    display: flex;
    width: 600px;
    height: 430px;
    margin-left: 660px;
  }
  .carrusel-jugadores img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.4s ease;
  }

  .carrusel-jugadores img:hover {
    width: 250px;
    opacity: 1;
    filter: contrast(120%);
  }

  /* footer */

  footer {
    margin-top: 14px;
  }
}
